In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (0.25.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.17.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [2]:
import pandas
import csv

## Code Values

There are lines in the original `Code_Values.csv` where double quotes are not escaped in cells. For example, in line 65490, `"764.00","",""Light-for-dates" without mention of fetal malnutrition, unspecified [weight]",""Light-for-dates" without mention of fetal malnutrition, unspecified [weight]","","","","245065012985530252673878283538565653299","2",""`
These lines create issues when the file is read as a csv file. The following is a program that convert the double quotes to single quotes.

In [3]:
def escape_internal_quotes(item):
    return '"' + item.replace('"', "'") + '"'

with open('data/Code_Value.csv', 'r') as fin:
    with open('data/Code_Value_fixed.csv', 'w') as fout:
        line = fin.readline().rstrip()
        fout.write(','.join(['"' + item + '"' for item in line.split(',')]) + '\n')
        line = fin.readline()
        while line:
            left = line.find('"') + 1
            right = line.rfind('"')
            escaped = [escape_internal_quotes(item) for item in line[left:right].split('","')]
            fout.write(','.join(escaped) + '\n')
            line = fin.readline()

### Explore Code Values

In [4]:
code_values = pandas.read_csv('data/Code_Value_fixed.csv')
code_values.shape

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,4,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(193321, 10)

In [5]:
code_values.isnull().sum(axis = 0)

CODE                         1
NCIT_CONCEPT_CODE       192338
SHORT_NAME               10483
LONG_NAME                 2243
DESCRIPTION             192346
START_DATE              175333
END_DATE                193321
CODE_VALUE_ID                0
VOCABULARY_ID                0
PARENT_CODE_VALUE_ID    150966
dtype: int64

In [6]:
code_values[code_values['CODE'].isnull()]

,CODE,NCIT_CONCEPT_CODE,SHORT_NAME,LONG_NAME,DESCRIPTION,START_DATE,END_DATE,CODE_VALUE_ID,VOCABULARY_ID,PARENT_CODE_VALUE_ID
22,NaN,NaN,American Indian or Alaska Native,NaN,NaN,2000-01-01 00:00:00.0,NaN,461,14,NaN

In [7]:
code_values[code_values['SHORT_NAME'] == 'American Indian or Alaska Native']

,CODE,NCIT_CONCEPT_CODE,SHORT_NAME,LONG_NAME,DESCRIPTION,START_DATE,END_DATE,CODE_VALUE_ID,VOCABULARY_ID,PARENT_CODE_VALUE_ID
1,1002-5,NaN,American Indian or Alaska Native,NaN,NaN,2000-01-01 00:00:00.0,NaN,414,10,NaN
10,8657,NaN,American Indian or Alaska Native,<Race:Race:Race:CONCEPT_CODE>1</>,NaN,2000-01-01 00:00:00.0,NaN,424,11,NaN
22,NaN,NaN,American Indian or Alaska Native,NaN,NaN,2000-01-01 00:00:00.0,NaN,461,14,NaN
29,1,NaN,American Indian or Alaska Native,NaN,NaN,2000-01-01 00:00:00.0,NaN,468,15,NaN
35,01,NaN,American Indian or Alaska Native,NaN,NaN,2000-01-01 00:00:00.0,NaN,474,16,NaN

In [8]:
code_values[code_values['VOCABULARY_ID'] == 201]

,CODE,NCIT_CONCEPT_CODE,SHORT_NAME,LONG_NAME,DESCRIPTION,START_DATE,END_DATE,CODE_VALUE_ID,VOCABULARY_ID,PARENT_CODE_VALUE_ID
2330,197698,NaN,Fluconazole 100 MG Oral Tablet,Fluconazole 100 MG Oral Tablet,NaN,NaN,NaN,85832350129635379621961152739294709770,201,NaN
2331,197699,NaN,Fluconazole 150 MG Oral Tablet,Fluconazole 150 MG Oral Tablet,NaN,NaN,NaN,107648572568130652608135266619972162108,201,NaN
2332,197700,NaN,Fluconazole 200 MG Oral Tablet,Fluconazole 200 MG Oral Tablet,NaN,NaN,NaN,301061690369072264569285502293174363448,201,NaN
2333,197701,NaN,Fluconazole 50 MG Oral Tablet,Fluconazole 50 MG Oral Tablet,NaN,NaN,NaN,97539212138742495349368795745058533530,201,NaN
2334,197702,NaN,Flucytosine 250 MG Oral Capsule,Flucytosine 250 MG Oral Capsule,NaN,NaN,NaN,59391222980346560871738409430096552052,201,NaN
...,...,...,...,...,...,...,...,...,...,...
20779,1791918,NaN,HOMATROPINE METHYLBROMIDE 99 g in 1 g NOT APPL...,HOMATROPINE METHYLBROMIDE 99 g in 1 g NOT APPL...,NaN,NaN,NaN,235462061630728723796211920409705903907,201,NaN
20780,1791919,NaN,LEVETIRACETAM 495 g in 1 g NOT APPLICABLE POWD...,LEVETIRACETAM 495 g in 1 g NOT APPLICABLE POWD...,NaN,NaN,NaN,282166479567374688997769553125385674562,201,NaN
20781,1791920,NaN,Nitrofurantoin 9.9 g in 1 g NOT APPLICABLE POW...,Nitrofurantoin 9.9 g in 1 g NOT APPLICABLE POW...,NaN,NaN,NaN,239498109098149333377150471775016067973,201,NaN
20782,1791925,NaN,SECNIDAZOLE 495 g in 1 g NOT APPLICABLE POWDER...,SECNIDAZOLE 495 g in 1 g NOT APPLICABLE POWDER...,NaN,NaN,NaN,191559779870655224842387734648660817495,201,NaN
20783,1792096,NaN,Amlodipine Besylate 495 g in 1 g NOT APPLICABL...,Amlodipine Besylate 495 g in 1 g NOT APPLICABL...,NaN,NaN,NaN,189965320626818372413071395091457679841,201,NaN

In [9]:
code_values[code_values['VOCABULARY_ID'] == 3].shape  # NDC codes are not in the Code Values file.

(0, 10)

### NDC Code Values

In [10]:
ndc_codes = pandas.read_csv('data/Code_Value_NDC.csv')
ndc_codes.shape

(120320, 10)

In [11]:
ndc_codes.head()

,CODE,NCIT_CONCEPT_CODE,SHORT_NAME,LONG_NAME,DESCRIPTION,START_DATE,END_DATE,CODE_VALUE_ID,VOCABULARY_ID,PARENT_CODE_VALUE_ID
0,50481-3201,NaN,ALUMINUM CHLOROHYDRATE,ALUMINUM CHLOROHYDRATE,NaN,2010-01-27 00:00:00.0,NaN,305729844612722122309049253428563065302,3,NaN
1,50481-3300,NaN,ALUMINUM CHLOROHYDRATE,ALUMINUM CHLOROHYDRATE,NaN,2010-01-27 00:00:00.0,NaN,268971868536841274691549533284593258679,3,NaN
2,50484-010,NaN,COLLAGENASE SANTYL,COLLAGENASE SANTYL,NaN,2006-10-18 00:00:00.0,NaN,86883256874617330759568260970066068929,3,NaN
3,50484-044,NaN,DIMETHICONE,DIMETHICONE,NaN,1997-01-01 00:00:00.0,NaN,12521337574333569306642311358711680755,3,NaN
4,50474-970,NaN,brivaracetam,brivaracetam,NaN,2016-05-12 00:00:00.0,NaN,238952408646098165910804777799158957766,3,NaN

### OMOP NDC Code Values

In [12]:
omop_ndc_codes = pandas.read_csv('data/Code_Value_OMOP_NDC.csv')
omop_ndc_codes.shape

(808013, 10)

In [13]:
omop_ndc_codes.head()

,CODE,NCIT_CONCEPT_CODE,SHORT_NAME,LONG_NAME,DESCRIPTION,START_DATE,END_DATE,CODE_VALUE_ID,VOCABULARY_ID,PARENT_CODE_VALUE_ID
0,35405336,NaN,"BRONCHI HP - carbo vegetabilis, cuprum metalli...",<Drug:NDC:11-digit NDC:CONCEPT_CODE>4491102730...,NaN,2000-01-01 00:00:00.0,NaN,133435,303,NaN
1,35405337,NaN,ESIKA PRO HD COLOR HIGH DEFINITION COLOR SPF 2...,<Drug:NDC:11-digit NDC:CONCEPT_CODE>1353705811...,NaN,2000-01-01 00:00:00.0,NaN,133436,303,NaN
2,35405338,NaN,"UNDA 43 - aluminium metallicum, asperula odora...",<Drug:NDC:11-digit NDC:CONCEPT_CODE>6210611460...,NaN,2000-01-01 00:00:00.0,NaN,133437,303,NaN
3,35405339,NaN,LAC FELINUM - lac felinum pellet,<Drug:NDC:11-digit NDC:CONCEPT_CODE>1563102590...,NaN,2000-01-01 00:00:00.0,NaN,133438,303,NaN
4,35405340,NaN,PETROLEUM JELLY - white petrolatum cream,<Drug:NDC:11-digit NDC:CONCEPT_CODE>5733700770...,NaN,2000-01-01 00:00:00.0,NaN,133439,303,NaN

### OMOP-Condition-ICD10

In [14]:
omop_icd10_codes = pandas.read_csv('data/Code_Value_OMOP-Condition-ICD10.csv')
omop_icd10_codes.shape

(108311, 10)

In [15]:
omop_icd10_codes.head()

,CODE,NCIT_CONCEPT_CODE,SHORT_NAME,LONG_NAME,DESCRIPTION,START_DATE,END_DATE,CODE_VALUE_ID,VOCABULARY_ID,PARENT_CODE_VALUE_ID
0,8708,NaN,Maternal care for disproportion due to unusual...,<Condition:ICD10CM:7-char billing code:CONCEPT...,NaN,2000-01-01 00:00:00.0,NaN,954263,305,NaN
1,8709,NaN,Maternal care for disproportion due to unusual...,<Condition:ICD10CM:7-char billing code:CONCEPT...,NaN,2000-01-01 00:00:00.0,NaN,954264,305,NaN
2,9861,NaN,Other osteoporosis with current pathological f...,<Condition:ICD10CM:6-char nonbill code:CONCEPT...,NaN,2000-01-01 00:00:00.0,NaN,954434,305,NaN
3,9735,NaN,"Lead-induced chronic gout, left knee",<Condition:ICD10CM:6-char nonbill code:CONCEPT...,NaN,2000-01-01 00:00:00.0,NaN,954308,305,NaN
4,10199,NaN,External constriction of left eyelid and perio...,<Condition:ICD10CM:6-char nonbill code:CONCEPT...,NaN,2000-01-01 00:00:00.0,NaN,954770,305,NaN

In [16]:
### Combine all code values

In [17]:
# code_values_all = pandas.concat([code_values, ndc_codes, omop_ndc_codes, omop_icd10_codes])
# print(code_values_all.shape)
# code_values_all.to_csv(index=False, quotechar='"', quoting=csv.QUOTE_ALL)

## Vocabularies

In [18]:
vocabularies = pandas.read_csv('data/Vocabulary.csv')

In [19]:
vocabularies.head()

,NAME,VERSION,NCIT_CONCEPT_CODE,DESCRIPTION,SOURCE,VOCABULARY_ID
0,ICD10CM,NaN,NaN,NaN,NaN,1
1,ICD9,NaN,NaN,NaN,NaN,2
2,NDC,NaN,NaN,NaN,NaN,3
3,FHIR-BirthSex,NaN,NaN,NaN,NaN,4
4,OMOP-Person.gender,NaN,NaN,NaN,NaN,5

In [20]:
vocabularies.shape

(139, 6)

## Code Mappings

In [21]:
import numpy as np 
index = pandas.Index([3, 1, 2, 3, 4, np.nan])
index.value_counts().index

Float64Index([3.0, 4.0, 2.0, 1.0], dtype='float64')

In [22]:
index.value_counts().values

array([2, 1, 1, 1])